* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --sub-heading: hsl(276, 100%, 81%);
  --chat-on-left: hsl(276, 55%, 52%);
  --chat-on-right: hsl(271, 15%, 43%);
  --placeholder-text: hsl(206, 6%, 79%);
  --main-heading: hsl(271, 36%, 24%);
  --paragraph: hsl(270, 7%, 64%);
  /* gradients */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);
  /* secondary colors */
  --white: #fff;
  --app-bg: hsl(270, 20%, 96%);
  --sumbmit-btn-bg: hsl(271, 36%, 24%);
  --radio-btn-outline: hsl(289, 100%, 72%);
  /* font-family */
  --font-1: "Rubik", sans-serif;
  /* border */
  /* --border: solid #000 0.1rem; */
}
html {
  font-size: 62.5%;
  font-family: var(--font-1);
}
body {
  padding: 4rem 5rem;
  font-size: 1.2rem;
  background: var(--app-bg);
}
.wrapper {
  border: var(--border);
  height: 160vh;
  /* width: 100%; */
  width: 28rem;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  display: grid;
  grid-template: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10rem;
}
.wrapper > div {
  border: var(--border);
}
/* phone */
.phone {
  height: 90vh;
  padding: .5rem;
  border-radius: 2.5rem;
  background: var(--white);
}
/* .phone > div {
  border: var(--border);
} */
.header {
  height: 12%;
  border-radius: 2.5rem 2.5rem 1rem 1rem;
  position: relative;
  background: linear-gradient(
    to right,
    var(--Light-Violet),
    var(--Light-Magenta)
  );
  display: flex;
  align-items: flex-end;
}
.header::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 50%;
  border-radius: 2.5rem;
  /* border: var(--border); */
  left: 50%;
  top: 9%;
  transform: translate(-50%, -50%);
  background: var(--white);
}
.header > div {
  /* border: var(--border); */
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  color: #fff;
}
.arrow {
  height: 50%;
  width: 10%;
  justify-content: flex-end;
}
.name {
  width: 80%;
  height: 50%;
}
.name .name-text {
  margin-left: 0.7rem;
  font-weight: 500;
}
.name-text p:last-child {
  opacity: 0.7;
  font-size: 1rem;
  font-weight: 400;
}
.image {
  height: 3rem;
  width: 3rem;
  border: wheat solid 0.2rem;
  border-radius: 100rem;
  margin-left: 0.6rem;
  background: url(chat-app-css-illustration-master/images/avatar.jpg) no-repeat;
  background-size: contain;
  background-position: center;
}
.settings {
  height: 50%;
  width: 10%;
}
.content {
  height: 88%;
  padding: 1rem 1rem;
  border-radius: 0.2rem 0.2rem 2.5rem 2.5rem;
  background: var(--app-bg);
}
.content > div {
  /* height: 4rem; */
  /* border: var(--border); */
  width: 75%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 0.7rem;
  background: var(--placeholder-text);
  color: var(--chat-on-left);
}
.content > .text-3 {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  background: transparent;
}
.text-3 > div {
  height: 100%;
  width: 30%;
  /* border: var(--border); */
  border-radius: 1rem;
}
.pic-1 {
  background: url(chat-app-css-illustration-master/images/dog-image-1.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}
.pic-2 {
  background: url(chat-app-css-illustration-master/images/dog-image-2.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}
.pic-3 {
  background: url(chat-app-css-illustration-master/images/dog-image-3.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
}
.content > .text-5,
.content > .text-4 {
  margin-left: auto;
  color: var(--chat-on-right);
  background: var(--white);
}
.content > .text-5 {
  width: 47%;
}
.content > .text-4 {
  width: 65%;
}
.content > .text-7,
.content > .text-8 {
  height: 3.6rem;
  color: var(--white);
  background: linear-gradient(
    to right,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  display: flex;
  align-items: center;
  border-radius: 1.5rem 1rem 1rem 0.5rem;
}
.content > .type {
  border-radius: 2.5rem;
  width: 90%;
  height: 3.5rem;
  margin: auto;
  background: var(--white);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}
.send{
  content: "";
  border: var(--border);
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  left: 98%;
  transform: translateX(-98%);
  border-radius: 100%;
  background: var(--main-heading);
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
}
/* bottom text */
.booking {
  height: 40vh;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
}
.booking h1{
  margin-bottom: 2rem;
  font-weight: 600;
}
.booking p{
  color: var(--paragraph);

}
.bg {
  height: 90vh;
  width: 50%;
  /* border: var(--border); */
  border-radius: 0 0 100% 0;
  background: linear-gradient(
    to bottom,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (min-width: 375px) {
  .wrapper{
    margin: auto;
    width: 85vw;
  }

    .phone{
    width: 28rem;
    margin: auto;
  }
  .bg{
  border-radius: 0 0 50% 0;
    left: -30%;
  }
  .booking{
     width: 28rem;
     margin: auto;
  }
}
@media screen and (min-width: 600px) {
  .wrapper{
    grid-template-columns: repeat(2, 1fr);
    height: 80vh;
    gap: 5rem;
  }
  body{
    padding: 3rem;
  }
  .booking{
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    width: 100%;
  }
  
}